.main-header {
  display: flex;
  flex-direction: column;
  // position: fixed;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  .header-top{
    position: fixed;
    width: 100%;
    .navigation {
      background: linear-gradient(90deg, #498FF8 0%, #2B5492 100%);
      height: 40px;
      padding: 0 20px;
      justify-content: space-between;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        list-style: none;
        li {
          margin-left: 8px;
          cursor: pointer;
          img {
            width: 18px; 
            height: 18px;
          }
        }
      }
    }
  }
  .header-bottom{
    height: 80px;
    padding: 0 140px;
    background-color: white;
    margin-top: 40px;
    // border-bottom: 1px solid gray;
    @media (max-width: 1200px) {
      padding: 0 100px;
    }
    @media (max-width: 1000px) {
      padding: 0;
      height: 60px;
    }
    .container{
      height: 100%;
      align-items: center;
      justify-content: space-between;
      .logo{
        color: #2A4897;
        font-weight: 700;
        font-size: 50px;
        cursor: pointer;
        user-select: none; 
        @media (max-width: 1000px) {
          font-size: 40px;
        }
        @media (max-width: 768px) {
          font-size: 30px;
        }
      }
      .auth-wrapper{
        display: flex;
        gap: 10px;
        align-items: center;
        .auth-btn{
          font-family: 'Rajdhani', sans-serif;
          font-size: 18px;
          border-radius: 20px;
          padding: 5px 0;
          width: 110px;
          display: flex;
          justify-content: center;
          cursor: pointer;
          @media (max-width: 1000px) {
            width: 90px;
            font-size: 16px;
            padding: 4px 0;
          }
        }
        .login-btn{
          color: #fff;
          background-color: #2A4897;
          border: 2px solid #2A4897;
        }
        .signup-btn{
          border: 2px solid #2A4897;
          color: #2A4897;
        }
      }
    }
  }
}
