<div class="navbar">
    <ul>
     <li><a  class="left" href="#">YOUNGH</a></li>
     <li><a class="right-up" href="#"> Sign Up</a></li><!-- Sign up button in Navbar-->
     <li><a class="devide">/</a></li>
     <li><a class="right-in" href="#">Sign In </a></li><!-- Sign in button in Navbar-->
     <li><a class="right" href="#">Events</a></li>
     <li><a class="right" href="#">Home</a></li>
    </ul>
</div>