.mentorsPage {
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding: 150px 150px 100px;
  .filter{
    width: 20%;
    display: flex;
    background-color: gray;
    height: 100%;
  }
  .mentor-cards{
    width: 80%;
    display: flex;
    flex-direction: column;
    .mentor-card {
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      padding: 20px;
      margin: 20px;
      .mentor-image {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
      }
      .mentor-data {
        margin-left: 20px;
        text-align: left;
        .mentor-name {
          font-size: 1.5em;
          margin: 10px 0;
        }
        .mentor-title, 
        .mentor-rating, 
        .mentor-description, 
        .mentor-tags, 
        .mentor-price {
          margin: 10px 0;
        }
        .mentor-title strong {
          font-weight: bold;
        }
        .mentor-rating {
          .stars {
            color: gold;
          }
          .reviews {
            margin-left: 5px;
          }
        }
        .mentor-tags {
          span {
            background: #f1f1f1;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 0 5px 5px 0;
            display: inline-block;
          }
        }
        .mentor-price {
          font-size: 1.2em;
          color: #333;
        }
        .view-profile-btn {
          background-color: #00aaff;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            background-color: #0088cc;
          }
        }
      }
    }
  }
}
